
h1{
    color: white;
    background-color: black;
    margin: 0;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

span{
    color: turquoise;

}

h2{
    color: white;
    background-color: blueviolet;
    text-align: center;
    





}